:root {


    --fonte: "Google Sans", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;

    --background: whitesmoke;
    --primary-color: #12c38a;
    --secondary-color: #0fa3a3;
    --tertiary-color: #12c38b60;
    --secondary-font: rgb(104, 104, 104);
    --smoke-font: #cacaca;
    --titulos-color: darkblue;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--fonte);
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
}