:root {
    --fonte: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;

    --background: #fff;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}