:root {
    --fonte: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;

    --background: whitesmoke;
    --color-font: #12c38a;
    --white-font: #fff;
    --color-font-hover: #0ea575;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--fonte);
}