/* CABEÇALHO */
header {
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    padding: .8rem 5rem .8rem 5rem;
    background-color: var(--background);
    backdrop-filter: blur(10%);
    border-bottom: 1px solid var(--primary-color);
}

header .box-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

header .logo {
    font-size: 1.3rem;
    color: var(--primary-color);
}

header .logo span {
    color: #0fa3a3;
    margin-left: .1rem;
}

header .menu {
    display: flex;
    gap: 2rem;
}

header .menu .nav-link {
    color: var(--secondary-font);
    transition: .3s ease;
}

header .menu .nav-link:hover {
    transform: translateY(-2px);
}

/* ESTILOS DA PARTE PRINCIPAL */
main {
    min-height: 1000px;
}

/* ESTILOS DO BANNER */
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
    background-color: #1a1a1a;
    color: #fff;
    padding-inline: 7%;
}

.sobremim-left, .sobremim-right {
    flex: 1;
}

.sobremim-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.titulo-sobremim {
    font-size: 2.4rem;
}

.titulo-sobremim span {
    background: linear-gradient(160deg, var(--primary-color) 35%, var(--secondary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    width: fit-content;
}

.descricao-sobremim {
    max-width: 500px;
}

.links-sobremim {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.banner .sobremim-left .link-curriculo {
    width: fit-content;
    background: linear-gradient(160deg, var(--primary-color) 35%, var(--secondary-color));
    padding: .5rem .8rem;
    border-radius: .5rem;
    color: var(--white-font);
    transition: all .3s ease;
    box-shadow: 0 8px 20px rgba(18, 195, 138, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-size: 1.1rem;
    font-weight: 700;
}

.banner .sobremim-left .link-curriculo:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 30px rgba(18, 195, 138, 0.4);
}


.banner .sobremim-left .link-github {
    width: fit-content;
    color: #fff;
    background-color: transparent;
    transition: all .3s ease;
    font-size: 2rem;
}

/* ESTILOS DAS SEÇÕES */
section {
    padding-top: 4rem;
    margin-bottom: 6rem;
}

section.banner {
    padding-top: 1.5rem;
}

.box-titulos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;
}

.box-titulos h2 {
    font-size: 2.2rem;
    color: var(--primary-color);
    font-weight: 800;
    letter-spacing: 0;
}

.box-titulos .titulos-underline {
    width: 140px;
    height: 1px;
    margin: 1.1rem 0 1rem 0;
    background-color: var(--primary-font);
}

.box-titulos .descricao {
    max-width: 60%;
    text-align: center;
}

/* ESTILOS DA SEÇÃO DE PROJETOS */

.projetos .box-projetos {
    margin: 0 auto;
    background-color: var(--tertiary-color);
    background: linear-gradient(160deg, var(--tertiary-color) 35%, var(--secondary-color));
    width: 1250px;
    height: 550px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    gap: 6rem;
    padding: 1.7rem;
}

.projetos .cabecalho-projetos {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.projetos .cabecalho-projetos .titulo-projetos {
    font-size: 3rem;
}

.projetos .cabecalho-projetos .subtitulo-projetos {
    font-size: 1rem;
}

.projetos .cards-projetos {
    max-width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-self: center;
}

.projetos .cards-projetos .card-projeto {
    width: 320px;
    height: 220px;
    background-color: #fff;
    color: #1d1d1d;
    margin: 1rem;
    border-radius: 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: .5rem;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.projetos .cards-projetos .card-projeto:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.13);
}

.card-projeto .nome-projeto {
    font-size: 1.2rem;
    transition: all .3s ease;
}

.projetos .cards-projetos .card-projeto:hover .nome-projeto {
    color: var(--primary-color);
}

.card-projeto .descricao-projeto {
    font-size: .9rem;
}

.card-projeto .btn-ver-projeto {
    position: absolute;
    bottom: 20px;
    color: var(--primary-color);
    font-size: .95rem;
    font-weight: 600;
    letter-spacing: .7px;
    display: flex;
    gap: .2rem;
}

.card-projeto .texto-ver-projeto {
    color: var(--primary-color);
    font-size: .95rem;
    font-weight: 600;
    letter-spacing: .7px;
}

.projetos .cards-projetos .card-projeto .btn-ver-projeto .icon-ver-projeto {
    transition: transform .3s ease;
}

.projetos .cards-projetos .card-projeto:hover .btn-ver-projeto .icon-ver-projeto {
    transform: translateX(4px);
}

/* ESTILOS DA SEÇÃO DESENVOLVIMENTO TÉCNICO */

.box-habilidades {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin-inline: 4rem;
}

.linha-temporal{
    display: flex;
    align-items: center;
}

.lista-de-acontecimentos {
    margin: 0 auto;
    position: relative;
    list-style-type: none;
}

.lista-de-acontecimentos::before {
    content: "";
    position: absolute;
    left: 16px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: gray;
}

.acontecimento {
    position: relative;
    margin-block: .8rem;
}

.pino-acontecimento {
    position: absolute;
    background-color: var(--primary-color);
    border-radius: 50%;
    box-shadow: 0 0 0 6px #12c38b52;
    left: 10px;
    top: 16px;
    width: 12px;
    height: 12px;
}

.item-acontecimento {
    margin-left: 50px;
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.periodo-acontecimento {
    font-size: .85rem;
    white-space: nowrap;
}

.titulo-acontecimento {
    width: fit-content;
    padding: 10px 14px;
    border: 1px solid gray;
    background-color: rgb(226, 226, 226);
    border-radius: 14px;
    margin-left: 1rem;
    font-weight: 900;
    font-size: .85rem;
    letter-spacing: .75px;
    white-space: nowrap;
}

.titulo-acontecimento:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* ESTILOS DAS STACKS */

.stacks {
    margin: 0 auto;
    width: 85%;
}

.stack {
    margin-bottom: 1.5rem;
}

.stack .titulo-stack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}

.stack .titulo-stack .nome-stack {
    font-weight: 800;
}

.stack .percentual-stack {
    font-weight: 700;
}

.stack .barra-stack {
    height: .7rem;
    border-radius: 20px;
    background-color: rgb(226, 226, 226);
    border: 1px solid gray;
    overflow: hidden;
}

.stack .preenchimento-stack {
    height: 100%;
    border-radius: 20px;
    background: linear-gradient( 90deg, var(--primary-color), var(--secondary-color));
}

/* ESTILOS DA SEÇÃO DE CERTIFICADOS */

.certificados .box-certificados {
    width: 1100px;
    height: 250px;
    background-color: rgb(220, 220, 220);
    margin: 0 auto;
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.certificados .box-certificados .titulo-certificados {
    font-size: 1.7rem;
}

.certificados .box-certificados .box-inferior {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;

}

.certificados .box-certificados .box-inferior .empresas-certificados {
    display: flex;
    align-items: center;
    gap: 1rem; 
}

.certificados .box-certificados .box-inferior .empresas-certificados img {
    width: 100px; 
}

.certificados .box-certificados .box-inferior .button {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 700;
    letter-spacing: .1px;
    font-size: 1rem;
}

.certificados .box-certificados .box-inferior .button:hover {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    color: #fff;
}

/* ESTILOS DO RODAPÉ (FOOTER) */

footer {
    padding: 4rem 2rem 3rem 2rem;
    background-color: #1d1d1d;
}

footer .box-footer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

footer .box-footer .titulo-footer {
    font-weight: 800;
    letter-spacing: 6px;
    font-size: 1.2rem;
    color: var(--smoke-font);
}

footer .box-footer .midias-sociais {
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .box-footer .midias-sociais .btn-midias-sociais {
    width: 46px;
    height: 46px;
    display: grid;
    place-items: center;
    border-radius: 15px;
    background-color: var(--smoke-font);
    color: #000;
    border: 1px solid rgb(34, 34, 34);
    text-decoration: none;
    box-shadow: 0 1px 2px rgb(85, 85, 85);
    transition: transform .3s ease;
}

footer .box-footer .midias-sociais .btn-midias-sociais:hover {
    background-color: var(--smoke-font);
    transform: translateY(-2px);
}

footer .box-footer .midias-sociais .btn-midias-sociais i {
    font-size: 1.2rem;
}

footer .box-footer .copy-footer {
    font-size: .8rem;
    color: var(--smoke-font);
}