/* CABEÇALHO */
header {
    width: 100%;
    z-index: 10;
    position: fixed;
    padding: 1.2rem 5rem 1.2rem 5rem;
    background-color: var(--background);
    backdrop-filter: blur(10%);
    border-bottom: 1px solid var(--color-font);
}

header .box-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: var(--color-font);
}

header .logo {
    font-size: 1.3rem;
    color: var(--color-font);
}

header .logo span {
    color: darkblue;
    margin-left: .1rem;
}

header .menu {
    display: flex;
    gap: 2rem;
}

header .menu .nav-link {
    color: var(--color-font);
    transition: .3s ease;
}

header .menu .nav-link:hover {
    transform: translateY(-2px);
}

header .botao-contato {
    padding: .5rem .8rem;
    background-color: var(--color-font);
    color: var(--white-font);
    border-radius: .5rem;
    transition: .3s ease;
}

header .botao-contato:hover {
    background-color: var(--color-font-hover);
}

/* ESTILOS DA PARTE PRINCIPAL */
main {
    min-height: 1000px;
}

/* ESTILOS DO BANNER */
.banner {
    height: 60vh;
}

/* ESTILOS DAS SEÇÕES */
section {
    margin-bottom: 10rem;
}

.box-titulos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;
}

.box-titulos h2 {
    font-size: 2.7rem;
    color: var(--color-font);
    font-weight: 800;
    letter-spacing: 0;
}

.box-titulos .titulos-underline {
    width: 140px;
    height: 1px;
    margin: 1.1rem 0 1rem 0;
    background-color: var(--color-font);
}

.box-titulos .descricao {
    max-width: 60%;
    text-align: center;
}

/* ESTILOS DA SEÇÃO DE PROJETOS */

/* .projetos {
} */

.projetos .box-projetos {
    margin: 0 auto;
    background-color: var(--secondary-color);
    width: 80%;
    height: 550px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    gap: 6rem;
    padding: 1.5rem;
}

.projetos .cabecalho-projetos {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.projetos .cabecalho-projetos .titulo-projetos {
    font-size: 3rem;
}

.projetos .cabecalho-projetos .subtitulo-projetos {
    font-size: 1rem;
}

.projetos .cards-projetos {
    max-width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-self: center;
}

.projetos .cards-projetos .card-projeto {
    width: 320px;
    height: 220px;
    background-color: #fff;
    color: #1d1d1d;
    margin: 1rem;
    border-radius: 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: .5rem;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.projetos .cards-projetos .card-projeto:hover {
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.projetos .cards-projetos .card-projeto:hover .btn-ver-projeto .icon-ver-projeto {
    transform: translateX(4px);
}

.card-projeto .nome-projeto {
    font-size: 1.2rem;
}

.card-projeto .descricao-projeto {
    font-size: .9rem;
}

.card-projeto .btn-ver-projeto {
    position: absolute;
    bottom: 20px;
    color: var(--color-font);
    font-size: .95rem;
    font-weight: 600;
    letter-spacing: .7px;
    display: flex;
    gap: .2rem;
}

.card-projeto .texto-ver-projeto {
    color: var(--color-font);
    font-size: .95rem;
    font-weight: 600;
    letter-spacing: .7px;
}

/* ESTILOS DA SEÇÃO DESENVOLVIMENTO TÉCNICO */

.box-habilidades {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin-inline: 4rem;
}

.linha-temporal{
    display: flex;
    align-items: center;
}

.lista-de-acontecimentos {
    margin: 0 auto;
    position: relative;
    list-style-type: none;
}

.lista-de-acontecimentos::before {
    content: "";
    position: absolute;
    left: 16px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: gray;
}

.acontecimento {
    position: relative;
    margin-block: .8rem;
}

.pino-acontecimento {
    position: absolute;
    background-color: var(--color-font);
    border-radius: 50%;
    box-shadow: 0 0 0 6px #12c38b52;
    left: 10px;
    top: 16px;
    width: 12px;
    height: 12px;
}

.item-acontecimento {
    margin-left: 50px;
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.periodo-acontecimento {
    font-size: .85rem;
    white-space: nowrap;
}

.titulo-acontecimento {
    width: fit-content;
    padding: 10px 14px;
    border: 1px solid gray;
    border-radius: 14px;
    margin-left: 1rem;
    font-weight: 900;
    font-size: .85rem;
    letter-spacing: .75px;
    white-space: nowrap;
}

/* ESTILOS DAS STACKS */

.stacks {
    margin: 0 auto;
    width: 85%;
}

.stack {
    margin-bottom: 1.5rem;
}

.stack .titulo-stack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}

.stack .titulo-stack .nome-stack {
    font-weight: 800;
}

.stack .percentual-stack {
    font-weight: 700;
}

.stack .barra-stack {
    height: .7rem;
    border-radius: 20px;
    background-color: rgb(178, 178, 178);
    border: 1px solid var(--color-font);
    overflow: hidden;
}

.stack .preenchimento-stack {
    height: 100%;
    border-radius: 20px;
    background: linear-gradient( 90deg, var(--color-font), var(--color-font-hover));
}

/* ESTILOS DO RODAPÉ (FOOTER) */

footer {
    padding: 4rem 2rem 3rem 2rem;
    background-color: #1d1d1d;
}

footer .box-footer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

footer .box-footer .titulo-footer {
    font-weight: 800;
    letter-spacing: 6px;
    font-size: 1.2rem;
    color: var(--smoke-font);
}

footer .box-footer .midias-sociais {
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .box-footer .midias-sociais .btn-midias-sociais {
    width: 46px;
    height: 46px;
    display: grid;
    place-items: center;
    border-radius: 15px;
    background-color: var(--smoke-font);
    color: #000;
    border: 1px solid rgb(34, 34, 34);
    text-decoration: none;
    box-shadow: 0 1px 2px rgb(85, 85, 85);
    transition: transform .3s ease;
}

footer .box-footer .midias-sociais .btn-midias-sociais:hover {
    background-color: var(--smoke-font);
    transform: translateY(-2px);
}

footer .box-footer .midias-sociais .btn-midias-sociais i {
    font-size: 1.05rem;
}

footer .box-footer .copy-footer {
    font-size: .8rem;
    color: var(--smoke-font);
}