/* CABEÇALHO */
header {
    width: 100%;
    z-index: 10;
    position: fixed;
    padding: 1.2rem 5rem 1.2rem 5rem;
    background-color: var(--background);
    backdrop-filter: blur(10%);
    border-bottom: 1px solid var(--color-font);
}

header .box-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: var(--color-font);
}

header .logo {
    font-size: 1.3rem;
    color: var(--color-font);
}

header .logo span {
    color: darkblue;
    margin-left: .1rem;
}

header .menu {
    display: flex;
    gap: 2rem;
}

header .menu .nav-link {
    color: var(--color-font);
    transition: .3s ease;
}

header .menu .nav-link:hover {
    transform: translateY(-2px);
}

header .botao-contato {
    padding: .5rem .8rem;
    background-color: var(--color-font);
    color: var(--white-font);
    border-radius: .5rem;
    transition: .3s ease;
}

header .botao-contato:hover {
    background-color: var(--color-font-hover);
}

/* ESTILOS DA PARTE PRINCIPAL */
main {
    min-height: 1000px;
}

/* ESTILOS DO BANNER */
.banner {
    height: 60vh;
}

/* ESTILOS DAS SEÇÕES */
section {
    margin-bottom: 10rem;
}

.box-titulos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-titulos h2 {
    font-size: 2.7rem;
    color: var(--color-font);
    font-weight: 800;
    letter-spacing: 0;
}

.box-titulos .titulos-underline {
    width: 140px;
    height: 1px;
    margin: 1.1rem 0 1rem 0;
    background-color: var(--color-font);
}

.box-titulos .descricao {
    max-width: 60%;
    text-align: center;
}

/* ESTILOS DA SEÇÃO DESENVOLVIMENTO TÉCNICO */

.box-habilidades {
    display: grid;
    grid-template-columns: 600px 1fr;
    margin: 3rem 4rem;
}

/* .linha-temporal{
    margin: 1rem;
} */

.lista-de-acontecimentos {
    margin: 0 auto;
    position: relative;
    list-style-type: none;
}

.lista-de-acontecimentos::before {
    content: "";
    position: absolute;
    left: 16px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: gray;

}

.acontecimento {
    position: relative;
    margin-bottom: .8rem;
}

.pino-acontecimento {
    position: absolute;
    background-color: var(--color-font);
    border-radius: 50%;
    box-shadow: 0 0 0 6px #12c38b52;
    left: 10px;
    top: 16px;
    width: 12px;
    height: 12px;
}

.item-acontecimento {
    margin-left: 40px;
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.periodo-acontecimento {
    font-size: .85rem;
    white-space: nowrap;
}

.titulo-acontecimento {
    width: fit-content;
    padding: 10px 14px;
    border: 1px solid gray;
    border-radius: 14px;
    margin-left: 1rem;
    font-weight: 900;
    white-space: nowrap;
    letter-spacing: .7px;
}