/* CABEÇALHO */
header {
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    padding: .8rem 5rem .8rem 5rem;
    background-color: var(--background);
    backdrop-filter: blur(10%);
    border-bottom: 1px solid var(--primary-color);
}

header .box-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

header .logo {
    font-size: 1.3rem;
    color: var(--primary-color);
}

header .logo span {
    color: #0fa3a3;
    margin-left: .1rem;
}

header .menu {
    display: flex;
    gap: 2rem;
}

header .menu .nav-link {
    color: var(--secondary-font);
    transition: .3s ease;
}

header .menu .nav-link:hover {
    transform: translateY(-2px);
}

/* ESTILOS DA PARTE PRINCIPAL */
main {
    min-height: 1000px;
}

/* ESTILOS DO BANNER */
.banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 600px;
    background-image: url("../assets/images/banners/banner-main.png");
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #1a1a1a;
    padding-inline: 6%;
}

.sobre-mim {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.titulo-banner {
    font-size: 2.5rem;
}

.titulo-banner span {
    background: linear-gradient(160deg, var(--primary-color) 35%, var(--secondary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    width: fit-content;
}

.tech-banner {
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin-left: 2.5rem;
}

.tech-carrossel {
    overflow: hidden;
    position: relative;
}

.track-carrossel {
    display: flex;
    transition: transform .7s ease;
}

.frame-carrossel {
    display: none;
    width: 100%;
    margin-bottom: 24px;
}

.frame-carrossel img {
    width: 4rem;
}

.frame-carrossel img:nth-child(2) {
    width: 6rem;
}

.frame-carrossel.active {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: end;
}

.barras-carrossel {
    display: flex;
    gap: 8px;
    margin-top: 12px;
}

.barras-carrossel .barra {
    flex: 1;
    height: 4px;
    background-color: #ddd;
    overflow: hidden;
    border-radius: 4px;
}

.progresso-bar {
    width: 0%;
    height: 100%;
    background: #0fa3a3;
}

.links-sobremim {
    display: flex;
    align-items: center;
    gap: .8rem;
    margin-top: 1rem;
}

.banner .sobre-mim .link-curriculo {
    width: fit-content;
    background: linear-gradient(160deg, var(--primary-color) 35%, var(--secondary-color));
    padding: .7rem 1rem;
    border-radius: .5rem;
    color: #fff;
    transition: all .3s ease;
    box-shadow: 0 8px 20px rgba(18, 195, 138, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-size: 1.1rem;
    font-weight: 700;
    white-space: nowrap;
}

.banner .sobre-mim .link-curriculo:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 30px rgba(18, 195, 138, 0.4);
}

.banner .sobre-mim .link-github {
    width: fit-content;
    color: #000;
    background: transparent;
    transition: all .3s ease;
    font-size: 2.2rem;
}

.banner .sobre-mim .link-github:hover {
    transform: translateY(-2px);
}

/* ESTILOS DAS SEÇÕES */
section {
    padding: 5rem 0 3rem;
}

/* ESTILOS PARA SOBRE MIM */

.box-titulos {
    padding-left: 6vw;
    margin-bottom: 2rem;
}

.box-titulos h1 {
    font-size: 2.3rem;
    font-weight: 500;
}

.box-titulos span {
    color: var(--primary-color);
    font-size: .9rem;
    font-weight: 500;
}

/* .box-sobremim {
} */

.carrossel-sobremim {
    display: flex;
    gap: 1rem;
    padding: 1rem 7%;

    overflow-x: auto;
    user-select: none;
    cursor: grab;
    scrollbar-width: none; /* Firefox */
    scroll-behavior: auto;
}


.carrossel-sobremim:active {
    cursor: grabbing;
}

.carrossel-sobremim::-webkit-scrollbar {
    display: none;
}

.box-sobremim .card-sobremim {
    display: flex;
    flex: 0 0 400px;
    height: 440px;
    border: 1px solid #dddddd;
    border-radius: 20px;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    flex-direction: column;
    align-items: center;
    padding: 8px;
    gap: 16px;
}

.box-sobremim .card-sobremim:hover {
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.box-sobremim .card-sobremim img {
    width: 350px;
    border-radius: 20px;
    pointer-events: none;
    -webkit-user-drag: none;
}

.box-sobremim .card-sobremim .text-sobremim {
    margin: 0 16px;
}

.box-sobremim .card-sobremim .titulo-sobremim {
    font-size: 1.2rem;
}

/* ESTILOS PARA TIMELINE */

.timeline-section {
    overflow: hidden;
}

.timeline-header {
    text-align: center;
    margin-bottom: 4rem;
}

.timeline-header h2 {
    font-size: 2rem;
    font-weight: 800;
    color: #1b2c5a;
}

.timeline-header p {
    color: #6b7280;
    margin-top: .5rem;
}

.timeline-wrapper {
    max-width: 1300px;
    position: relative;
    overflow: hidden;
    margin-left: 80px;
}

/* fades */
.timeline-wrapper::before, .timeline-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    width: 7rem;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: opacity .1s ease;
    z-index: 2;
}

.timeline-wrapper::before {
    left: 0rem;
    background: linear-gradient(to right, var(--background), transparent);
}

.timeline-wrapper::after {
    right: 0rem;
    background: linear-gradient(to left, var(--background), transparent);
}

.timeline-wrapper.show-left::before {
    opacity: 1;
}

.timeline-wrapper.show-right::after {
    opacity: 1;
}

/* CARROSSEL */
.timeline-carousel {
    max-width: 1300px;
    overflow-x: auto;

    user-select: none;
    cursor: grab;
    scrollbar-width: none;
    scroll-behavior: auto;

}

.timeline-carousel:active {
    cursor: grabbing;
}

.timeline-carousel::-webkit-scrollbar {
    display: none;
}

.timeline-track {
    display: flex;
    gap: 5rem;
    position: relative;
    padding: 4rem 2rem;
    min-width: max-content;
}

/* Linha pontilhada */
.timeline-track::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-top: 3px dotted var(--secondary-color);
    transform: translateY(-50%);
}

/* ITEM */
.timeline-item {
    position: relative;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Ponto */
.dot {
    width: 16px;
    height: 16px;
    background: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

/* CARD BALÃO */
.card {
    width: 200px;
    height: 70px;
    background: #fff;
    padding: 1rem .5rem .5rem;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;
}

.card .box-icon {
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
    font-size: 1.5rem;
    color: #fff;
    border: 0 8px 16px solid;
    box-shadow:
        0 8px 16px rgba(0,0,0,0.15),
        inset 0 -3px rgba(102, 102, 102, 0.4);
}

.card h3 {
    font-size: .95rem;
    font-weight: 700;
    color: #1f2937;
}

.timeline-item .legenda-item {
    position: absolute;
    text-align: center;
    left: 0%;
    margin-top: 8rem;
}

.timeline-item .legenda-item .data-item {
    color: var(--primary-color);
    font-size: .8rem;
    font-weight: 600;
}

.timeline-item .descricao-item {
    margin-top: 1.5rem;
    font-size: .8rem;
    color: #6b7280;

}

.card.top {
    margin-bottom: 10rem;
}

.card.top .box-icon {
    position: absolute;
    top: -25px;
}

.card.bottom {
    margin-top: 11rem;
}

.card.top::after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.card.bottom::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

/* Mobile */
@media (max-width: 768px) {

    .timeline-track {
        gap: 2rem;
    }

    .card {
        width: 200px;
    }

}

/* ESTILOS DA SESSÃO DESENVOLVIMENTO TÉCNICO */


/* ESTILOS DA SEÇÃO DE PROJETOS */

.projetos .box-projetos {
    margin: 0 auto;
    background: linear-gradient(160deg, var(--tertiary-color) 10%, var(--secondary-color)90%);
    width: 90vw;
    min-height: 550px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
    position: relative;
}

.projetos .cabecalho-projetos {
    max-width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.cabecalho-projetos .titulo-projetos {
    font-size: 2.5rem;
}

.cabecalho-projetos .subtitulo-projetos {
    font-size: 1rem;
}

.carousel-projetos {
    display: flex;
    align-items: center;
    gap: 18px;
    overflow-x: auto;
    padding-bottom: 10px;

    user-select: none;
    cursor: grab;
    scrollbar-width: none; /* Firefox */
    scroll-behavior: auto;

}

.carousel-projetos:active {
    cursor: grabbing;
}

.carousel-projetos::-webkit-scrollbar {
    display: none;
}

.item-projeto {
    min-width: 220px;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid var(--secondary-color);
    -webkit-user-drag: none;
}

.img-wrap {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.img-wrap::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(
    to top,
    var(--secondary-color) 20%,
    transparent
    );
}

.img-wrap img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: transform 0.35s ease;
    pointer-events: none;
    -webkit-user-drag: none;
}

.img-wrap a {
    pointer-events: none;
    -webkit-user-drag: none;
    
}

.item-projeto:hover img {
    transform: scale(1.06);
}

.overlay-texto {
  position: absolute;
  bottom: 12px;
  left: 14px;
  right: 14px;
  z-index: 2;
  color: #fff;
}

.overlay-texto h4 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.overlay-texto span {
  font-size: 0.75rem;
  opacity: 0.7;
}

/* ESTILOS DA SEÇÃO DE CERTIFICADOS */

.certificados {
    padding-bottom: 0rem;
}

.certificados, .avaliacoes {
    background-color: #fff;
}

.certificados .box-certificados {
    width: 85vw;
    height: 250px;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid var(--primary-color);
}

.certificados .box-certificados .titulo-certificados {
    font-size: 1.7rem;
}

.certificados .box-certificados .box-inferior {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;

}

.certificados .box-certificados .box-inferior .empresas-certificados {
    display: flex;
    align-items: center;
    gap: 1.5rem; 
}

.certificados .box-certificados .box-inferior .empresas-certificados img {
    width: 80px; 
}

.certificados .box-certificados .box-inferior .empresas-certificados img:nth-child(2) {
    width: 110px; 
}

.certificados .box-certificados .box-inferior .button {
    background: linear-gradient(160deg, var(--primary-color) 35%, var(--secondary-color));
    color: #fff;
    padding: 10px 40px;
    border-radius: 50px;
    font-weight: 700;
    letter-spacing: .1px;
    font-size: 1rem;
    transition: all ease .3s;
}

.certificados .box-certificados .box-inferior .button:hover {
    transform: translateY(-4px);
}

/* ESTILOS DOS DEPOIMENTOS */
.avaliacoes {
    display: flex;
    justify-content: center;
}

.box-avaliacoes {
    border-top: 1px solid #d3d3d3;
    margin: 7%;
    padding-top: 5rem;
}

.box-header-avaliacoes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.box-header-avaliacoes h1 {
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: 800;
    letter-spacing: 0;
}

.box-header-avaliacoes .titulos-underline {
    width: 140px;
    height: 1px;
    margin: 1.1rem 0 1rem 0;
    background-color: var(--primary-color);
}

.box-header-avaliacoes .descricao {
    text-align: center;
}

.box-depoimentos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.depoimento {
    width: 350px;
    height: fit-content;
    padding: 1.5rem;
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
}

.depoimento .bi-quote {
    color: var(--secondary-color);
    font-size: 4rem;
    filter: opacity(.3);
}

.depoimento p {
    color: #8c8c8c;
    font-size: .9rem;
}

.depoimento .legenda-depoimento {
    margin-top: 1rem;
    width: 100%;
}

.legenda-depoimento .badge-depoimento {
    font-size: .9rem;
    color: var(--secondary-color);
    white-space: nowrap;
}

/* ESTILOS DO RODAPÉ (FOOTER) */

footer {
    padding: 4rem 2rem 3rem 2rem;
    background-color: #1d1d1d;
}

footer .box-footer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

footer .box-footer .titulo-footer {
    font-weight: 800;
    letter-spacing: 6px;
    font-size: 1.2rem;
    color: var(--smoke-font);
}

footer .box-footer .midias-sociais {
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .box-footer .midias-sociais .btn-midias-sociais {
    width: 46px;
    height: 46px;
    display: grid;
    place-items: center;
    border-radius: 15px;
    background-color: var(--smoke-font);
    color: #000;
    border: 1px solid rgb(34, 34, 34);
    text-decoration: none;
    box-shadow: 0 1px 2px rgb(85, 85, 85);
    transition: transform .3s ease;
}

footer .box-footer .midias-sociais .btn-midias-sociais:hover {
    background-color: var(--smoke-font);
    transform: translateY(-2px);
}

footer .box-footer .midias-sociais .btn-midias-sociais i {
    font-size: 1.2rem;
}

footer .box-footer .copy-footer {
    font-size: .8rem;
    color: var(--smoke-font);
}

@media (max-width: 1024px) {

    /* GERAL */
    .banner h1, .box-titulos h1, .cabecalho-projetos .titulo-projetos {
        font-size: 2rem;
    }

    /* BANNER */

    .descricao-sobremim {
        font-size: .9rem;
    }

    .banner .sobremim-left .link-curriculo {
        font-size: 1rem;
    }
    
    /* DESENVOLVIMENTO TÉCNICO */
    .box-habilidades {
        grid-template-columns: repeat(1, 1fr);
    }

    .lista-de-acontecimentos {
        width: 540px;
    }

    .stacks {
        margin: 0 auto;
        width: 85%;
    }
}

@media (max-width: 850px) {
    /* BANNER */
    .banner {
        padding-inline: 6%;
    }

    .sobremim {
        display: block;
    }

    .descricao-sobremim {
        max-width: 100%;
        font-size: .9rem;
    }

    .links-sobremim {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .8rem;
        margin-top: 2rem;
    }

    /* PROJETOS */
    .projetos .box-projetos {
        flex-direction: column;
    }

    .projetos .cabecalho-projetos {
        max-width: 100%;
    }

    /* CERTIFICADOS */
    .certificados .box-certificados .titulo-certificados {
        font-size: 1.4rem;
    }

    .certificados .box-certificados .subtitulo-certificados {
        font-size: .9rem;
    }

    .certificados .box-certificados .box-inferior .empresas-certificados img {
        width: 60px; 
    }

    .certificados .box-certificados .box-inferior .empresas-certificados img:nth-child(2) {
        width: 80px; 
    }

    .certificados .box-certificados .box-inferior .button {
        padding: 9px 18px;
        font-size: .9rem;
    }
}
